{% extends 'base.html.twig' %}

{# Assuming you meant to name the block, common names include 'content' or 'body' #}
{% block body %}
<h1>Ajouter un Tournois</h1>
{{ form_start(form) }}

{{ form_row(form.nom) }}
{{ form_row(form.description) }}

{# Custom HTML goes here #}
<h2>Evenement</h2>

{{ form_row(form.ev) }}
<br>
{{ form_row(form.save) }}

{{ form_end(form) }}
{% endblock %}